body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 15px;
    background: linear-gradient(to right, rgb(1, 62, 65), rgb(1, 32, 8), black);
    color: rgb(253, 252, 252);
    border-radius: 10px;
    
    
    
    
}

main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;

}
#form-agendamento{
    background-color: #0e0d0d;
    padding: 40px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(209, 180, 180, 0.5);
    width: 60%;
    margin: 15px;
    
    
    
}
label{
    display: block;
    margin-bottom: 5px;
    padding: 7px;
    margin: 5px;
    text-decoration-line: underline;
}
input,button{
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    
    
}
button{
    padding: 15px;
    margin: 15px;
    background-color: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
    
}
button:hover{
    background-color: rgb(1, 54, 1);
}

#mensagem-sucesso{
    text-align: center;
    margin: 70px;
    padding: 15px;
    display: block;
    width: 70%;
    text-align: center;
    align-items: center;
    color: green;
    background-color: black;
    

}

header{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
    

#login-gilson{
    align-items: center;
    width: 70%;
    margin: 15vh;
    padding: 5px;
    
}
#cadastro-novo{
    text-align: center;
    
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10;
    padding: 2vh 15px 2%;
    
}
select{
    width: 100%;
    margin: 4px;
    height: 30px;
    text-align: center;
}
#data{
    width: 40%;
}